
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "/"><u>Home</u></a>
    @{
        <h1>@Model.name</h1>
        <h3>@Model.chef</h3>
        <p>Calories: @Model.calories</p>
        <p>Tastiness: @Model.tastiness</p>
        <p>Description: @Model.description</p>
        <form action = "/delete/@Model.id">
            <input type = "submit" value = "Delete">
        </form>
        <form action = "/edit/@Model.id">
            <input type = "submit" value = "Edit">
        </form>
    }
</body>
</html>